:root {
    --color-primary: #846b8a;
    --color-primary-dark: black;
    --color-text: white; 
    --item-padding: 20px;
}


body {
  background-color: var(--color-primary);
  max-width: 500px;
  margin: 0 auto;
}

main {
  background-color: #fae3e3;
  padding: var(--item-padding);
}

h1,
h2,
h3 {
  font-size: 24px;
  color: purple;
}

a {
  color: var(--color-text);
  padding: var(--item-padding);
  border: 5px solid white;
  border-radius: 10px;
  margin: 5px 10px;
  display: inline-block;
}

p,
tr {
  color: var(--color-primary-dark);
}

nav a {
  color: #c98bb9;
  font-size: 18px;
  text-decoration: none;
}

.input {
  color: fuchsia;
}

.input label {
  color: purple;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  gap: 16px;
}

.item {
  background-color: #c98bb9;
  color: var(--color-text); 
}

a:hover {
  transition: all 0.2s ease;
  color: fuchsia;
  transform: translate(10px, -5px);
  text-decoration: underline;
}
